@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(
        circle at 50% 0%, 
        rgba(124,58,158, 0.45),
        transparent 35%
    ), 
    #111111;
    color: #ffffff;
    min-height: 100vh;
}

/* Navbar */

.navbar {
    width: 85%;
    max-width: 1100px;
    margin: 25px auto;
    padding: 8px 10px 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
        135deg, 
        rgba(134, 87, 168, 0.5),
        rgba(228, 228, 228, 0.5)
    ); 
    border-radius: 16px;
    backdrop-filter: blur(12px);
}

.logo {
    font-family: 'Lobster Two', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    font-size: 22px;
    /* font-family: sans-serif; */
}

.brand-icon {
    /* font-size: 20px; */
    background: rgb(0, 70, 70);
    border-radius: 8px;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.navLinks a {
    text-decoration: none;
    color: #d7d7df;
    /* font-weight: bold; */
    font-size: 14px;
    transition: 0.3s;
}

.navLinks a:hover {
    transform: translateY(-2px);
    color: indigo;
}

.btn-login {
    padding: 11px 20px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255,255,255,0.24);
}

